.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.grid-item {
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #bfbdbd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}